*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial',sans-serif;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background-color: #0F103F;
    color: white;
    line-height: 1.6;
}
nav ul{
    /* border:1px solid blue; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* padding: 4rem; */
    padding: 1.5rem 10rem;
}
nav ul li{
    margin: 0 15px;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.header-content{
    text-align: center;
    /* border:1px solid yellow; */
}
.header-content h1{
    font-size: 3rem;

}
.header-content-top{
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    /* border:1px solid white; */
    flex-wrap: wrap;
    /* gap: 20rem; */

}
.about-me{
    /* border:1px solid red; */
    max-width: 230px;
    margin: 10rem 5rem;
    text-align: left;
    font-size: 0.8rem;
    border: 1px solid red;
}
.buttons{
    /* border: 1px solid red; */
    padding: 10px 20px;
    margin: 15px;
    /* background-color: #8e44ad; */

}
button{
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid red; */
    background-color: #8e44ad;
    color:white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color:rgb(29, 27, 27);
}
.work-items{
    display: flex;
    align-items: center;
}
.work-item{

}


.contact{
}

.socials{
    text-align: center;
}

